@page
@model IndexModel
@{
    ViewData["Title"] = "Журнал посещения";
}


<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p>
        Изучите в разделе
        <a asp-page="/Students">список студентов</a> или
        <a asp-page="/Jurnal">журнал</a>.
    </p>
</div>
