@page
@model IndexModel
@{
    ViewData["Title"] = "Журнал посещения";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>
    <p>Изучите в разделе <a href="/Students">список студентов</a> или <a href="/Jurnals">журнал</a>.</p>
</div>
