@page
@model jurnal_poseshenia.Pages.StudentModel
@{
    
}
<div class="container mt-5">
    <div class="card shadow-lg">
        <div class="card-header bg-primary text-white text-center">
            <h4 class="mb-0">Карточка студента</h4>
        </div>
         <div class="card-body p-4">
            <form method="post" class="needs-validation" novalidate>
                <input type="hidden" asp-for="Student.Id" />
              <div class="row">
                    <div class="col-md-6 mb-3">
                        <input type="text" class="form-control" asp-for="Student.Name" placeholder="Введите имя" required />
                        <span class="text-danger" asp-validation-for="Student.Name"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <input type="text" class="form-control" asp-for="Student.Surname" placeholder="Введите фамилию" required />
                        <span class="text-danger" asp-validation-for="Student.Surname"></span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <input type="text" class="form-control" asp-for="Student.Partomymic" placeholder="Введите отчество" />
                        <span class="text-danger" asp-validation-for="Student.Partomymic"></span>
                    </div>

            <div class="col-md-6 mb-3">
                <select class="form-select" asp-for="Student.Specialti">
                            <option value="" hidden>Выберите специальность из списка  👉 </option>
                    <option value="IT">IT</option>
                    <option value="Logistician">Логист</option>
                    <option value="Commodity specialist">Товаровед</option>
                    <option value="Lawyer">Юрист</option>
                    <option value="Electrician">Электрик</option>
                    <option value="Accountant">Бухгалтер</option>
                </select>
            </div>
             <div class="d-flex gap-2 justify-content-center mt-4">
                    <button type="submit" class="btn btn-success px-4">Сохранить</button>
                    <a asp-page="/Students" class="btn btn-outline-secondary px-4">Отмена</a>
             </div>
               </div>
            </form>
        </div>
    </div>
</div>